body {
    background:#fafafa;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color:#979997;
  }
  * ,h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
  }
  h1, h2{
    text-align:center;
    margin:10px 0;
  }
  h1{
    font-size:45px;
  }
  hgroup{
    position:absolute;
    bottom:15%;
    width:100%;
    left:0;
  }
  a{
    text-decoration:underline;
    cursor:pointer;
  }
  #canvas{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    //min-height:350px;
  }
  hr {
    border: 0;
    width: 60%;
    min-width:300px;
    color:#7c7e7c;
    background-color: #afafaf;
    height: 1px;
  }
  @media (max-width: 767px) { 
    
    h1{
      font-size:22px;
    }
    h2{
      font-size:10px;
    }
  }

  @media (max-width: 480px) {
    h1, h2{
      text-align:left;
      padding-left:30px;
    }
    h2{
      font-size:18px;
    }
    hgroup{
      position:absolute;
      top:7%;
    }
  }